@font-face {
    font-family:'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf')format('ttf'),url('/assets/fonts/Roboto-Bold.ttf')format('ttf');
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}
body{
    background-color: hsl(235, 18%, 26%);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 450px;
    height: 450px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 27px 27px;
    position: relative;
}
.success-msg{
    color:hsl(234, 29%, 20%);
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: 12px;
}
.image{
    margin-bottom: 10px;
}
.content{
    margin-top: 20px;
    line-height: 1.5rem;
}
.submit-btn{
    color:hsl(0, 0%, 100%);
    background-color:hsl(234, 29%, 20%);
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    border: none;
    margin-top: 50px;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: hsl(4, 100%, 67%);
    box-shadow: 0 4px 10px hsl(4, 100%, 67%);
    transition: 0.4s;
}

@media only screen and (max-width: 730px) {
    .container{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       max-width: 375px;
       padding-top: 0;
    }
    body{
       background-color: #fff;
    }

}